<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="<%= root_path %>">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarMemberDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Members
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarMemberDropdown">
					<a class="dropdown-item" href="<%= members_path %>">All Members</a>
					<a class="dropdown-item" href="<%= new_member_path %>">New Member</a>
					<a class="dropdown-item" href="<%= bulkimport_member_path %>">Import Members</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Third</a>
			</li>
		</ul>
	</div>
</nav>
